<mat-card>
  <mat-toolbar color="primary"> Operações disponiveis </mat-toolbar>

  <div style="display: flex;">


    <mat-card (click)="onClickScheduling()" class="mat-card-ajust">
      <mat-card-header class="mat-card-text-ajust">
        <mat-card-title>
          <mat-icon>schedule</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions class="mat-card-text-ajust">
        <p>Agendar Transferência</p>
      </mat-card-actions>
    </mat-card>

    <mat-card (click)="onClickExtract()" class="mat-card-ajust">
      <mat-card-header class="mat-card-text-ajust">
        <mat-card-title>
          <mat-icon>my_library_books</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions class="mat-card-text-ajust">
        <p>Consultar extrato</p>
      </mat-card-actions>
    </mat-card>

  </div>

</mat-card>
