<mat-card>
  <mat-toolbar color="primary"> Agendar </mat-toolbar>

  <mat-card-content>
  <form [formGroup]="form" class="min-width">

    <mat-form-field class="full-width">
      <mat-label>Conta origem</mat-label>
      <mat-select formControlName="originAccount" >
        @for (account of accounts; track account) {
          <mat-option [value]="account.accountNumber">{{account.accountNumber}}</mat-option>
        }
      </mat-select>
      @if (form.get('originAccount')?.invalid) {
        <mat-error>{{
          formUtils.getErrorMessage(form, "originAccount")
        }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Conta destino</mat-label>
      <mat-select formControlName="destinationAccount" >
        @for (account of accounts; track account) {
          <mat-option [value]="account.accountNumber">{{account.accountNumber}}</mat-option>
        }
      </mat-select>
      @if (form.get('destinationAccount')?.invalid) {
        <mat-error>{{
          formUtils.getErrorMessage(form, "destinationAccount")
        }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Data agendamento</mat-label>
      <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" formControlName="schedulingDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Valor</mat-label>
      <input matInput type="number" placeholder="0" formControlName="transferValue" >
      @if (form.get('transferValue')?.invalid) {
        <mat-error>{{
          formUtils.getErrorMessage(form, "transferValue")
        }}</mat-error>
      }
    </mat-form-field>

  </form>

  <!--BOTOES -->
  <mat-card-actions class="actions-center">

  </mat-card-actions>
  <button  mat-raised-button  color="primary" (click)="onBack()" style="margin: 1em;">
    Voltar
  </button>
  <button mat-raised-button color="accent" (click)="onSubmit()">
    Agendar
  </button>
  </mat-card-content>
</mat-card>
